/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.side-bar{
width:30%;
background-color: #191919;
float: left;
height:100vh;
}
.quotes-details{
width:70%;
background-color: #4c4c4c;
float:right;
height: 100vh;
}
.body-content{

}
#main-name {
text-align:center;
color: white;


}
