<div class="container-fluid">
  <div class="rows">
    <form #quoteForm='ngForm' (ngSubmit)='submitQuote();'>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.submittedBy" name="name" required>
      </div>

      <div class="form-group">
        <label for="name">Author</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" required>
      </div>

      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.name" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label for="submitted-on">Submitted On</label><br>
        <input type='date' id="submitted-on" style="color:#A9A9A9" [(ngModel)]="newQuote.completeDate" name="submitted-on" required><br> <br>
      </div>

      <button type="submit" class="btn btn-success btn-sm">Submit Quote</button>

    </form>
  </div>
</div>
